<?xml version="1.0"?>
<robot name="gluebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
  />

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="grey">
    <color rgba="0.8 0.8 0.8 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="world" />

  <link name="camera_frame"/>

  <joint name="world_to_camera" type="fixed">
    <parent link="world"/>
    <child link="camera_frame"/>
    <origin xyz="-0.25 -0.5 1.25" rpy="0 3.14159 0"/>
  </joint>

  <!-- <link name="table">
    <visual>
      <geometry>
        <mesh filename="package://gluebot_support/meshes/workcell_aligned.stl"/>
      </geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
		<collision>
		    <geometry>
		      <mesh filename="package://gluebot_support/meshes/workcell_aligned.stl"/>
		    </geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		  </collision>
  </link> -->

  <link name="frame">
    <visual>
      <geometry>
        <mesh filename="package://gluebot_support/meshes/workcell_ur5_simple.stl"/>
      </geometry>
		<origin rpy="0 0 0" xyz="0 0 0"/>
    <material name="grey"/>
    </visual>
		<collision>
		    <geometry>
		      <mesh filename="package://gluebot_support/meshes/workcell_ur5_simple.stl"/>
		    </geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		  </collision>
  </link>

  <link name="table">
    <visual>
      <geometry>
        <box size="0.75 1.2 0.05"/>
      </geometry>
		  <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white"/>
    </visual>
		<collision>
		    <geometry>
		      <box size="0.75 1.2 0.05"/>>
		    </geometry>
			  <origin rpy="0 0 0" xyz="0 0 0"/>
		</collision>
  </link>

  <link name="camera_protection">
    <visual>
      <geometry>
        <box size="0.2 0.35 0.2"/>
      </geometry>
		  <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="grey"/>
    </visual>
		<collision>
		    <geometry>
		      <box size="0.2 0.35 0.2"/>>
		    </geometry>
			  <origin rpy="0 0 0" xyz="0 0 0"/>
		</collision>
  </link>

  <link name="back_wall">
    <visual>
      <geometry>
        <box size="0.1 2.0 2.0"/>
      </geometry>
		  <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
		<collision>
		    <geometry>
		      <box size="0.1 2.0 2.0"/>>
		    </geometry>
			  <origin rpy="0 0 0" xyz="0 0 0"/>
		</collision>
  </link>

  <!-- <link name="wobj_reference"/> -->

  <!-- <link name="wobj">
    <visual>
      <geometry>
        <mesh filename="package://gluebot_support/meshes/cilinder_and_square.dae" scale="0.001 0.001 0.001"/>
      </geometry>
		  <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
		<collision>
		    <geometry>
		      <mesh filename="package://gluebot_support/meshes/cilinder_and_square.stl" scale="0.001 0.001 0.001"/>
		    </geometry>
			  <origin rpy="0 0 0" xyz="0 0 0"/>
		</collision>
  </link> -->

  <link name="glue_gun">
    <visual>
      <geometry>
        <mesh filename="package://gluebot_support/meshes/visual/GlueBot4.stl" scale="0.01 0.01 0.01"/>
      </geometry>
		<origin rpy="0 0 0" xyz="0.043 0.043 0"/>
    </visual>
		<collision>
		    <geometry>
		      <mesh filename="package://gluebot_support/meshes/collision/GlueBot4.stl" scale="0.01 0.01 0.01"/>
		    </geometry>
			<origin rpy="0 0 0" xyz="0.043 0.043 0"/>
		  </collision>
  </link>

  <link name="glue_gun_tip"/>
  <link name="tool_tip"/>

  <joint name="world_to_frame" type="fixed">
    <parent link="world" />
    <child link = "frame" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

   <joint name="world_to_table" type="fixed">
    <parent link="world" />
    <child link = "table" />
    <origin xyz="${0.245 + 0.75/2} -0.15 ${-0.05 / 2 - 0.140}" rpy="0 0 0" />
  </joint>

  <joint name="world_to_camera_protection" type="fixed">
    <parent link="world" />
    <child link = "camera_protection" />
    <origin xyz="0.625 -0.195 0.872" rpy="0 0 0" />
  </joint>

   <joint name="world_to_back_wall" type="fixed">
    <parent link="world" />
    <child link = "back_wall" />
    <origin xyz="-0.295 -0.195 ${-0.173 + 1}" rpy="0 0 0" />
  </joint>

  <joint name="world_to_base_link" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-45 * pi / 180}" />
  </joint>

  <!-- <joint name="table_to_wobj_reference" type="fixed">
    <parent link="table" />
    <child link = "wobj_reference" />
    <origin xyz="0.5 0.0 -0.055" rpy="0.0 0.0 0.0" />
  </joint> -->

  <!-- <joint name="wobj_reference_to_wobj" type="fixed">
    <parent link="wobj_reference" />
    <child link = "wobj" />
    <origin xyz="0 0.0 0.0" rpy="0.0 0.0 -${90 * pi / 180}" />
  </joint> -->

  <joint name="tool0_to_glue_gun" type="fixed">
		<parent link="tool0"/>
		<child link="glue_gun"/>
		<origin rpy="0 0 ${-45 * pi / 180}" xyz="0 0 0"/>
		<axis xyz="0 0 0"/>
	</joint>

<!-- <origin rpy="0 ${45 * pi / 180} 0" xyz="0.009664 0 0.272478"/> -->
  <joint name="glue_gun_to_glue_tip" type="fixed">
		<parent link="glue_gun"/>
		<child link="glue_gun_tip"/>
		<origin rpy="0 ${45 * pi / 180} 0" xyz="0.01015 0 0.3109"/>
		<axis xyz="0 0 0"/>
	</joint>

	<joint name="glue_tip_to_tool_tip" type="fixed">
		<parent link="glue_gun_tip"/>
		<child link="tool_tip"/>
		<origin rpy="0 0 0" xyz="0 0 0.005"/>
		<axis xyz="0 0 0"/>
	</joint>

</robot>
